body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

.tiles {
	width: 1000px;
	height: 1000px;
}

#bal,#jobb{
	width: 35%;
	height: 100%;
	text-align: center;
}

.tile {
	width: 4%;
	height: 40px;
	border: 1px solid black;
	box-sizing: border-box;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

.symbol {
	font-size: 30px;
}
